/*html tags*/
html {
  width: 100%;
}

head {
  font-family: 'Karla';
}

body {
  font-family: 'Karla';
}

a {
  text-decoration: none;
  color: gray;
}

hr {
  width: 125px;
  border-color: white;
  padding: 10px 0;
}

h1 {
  font-family: 'DM Serif Display';
  font-size: 3rem;
  width: 375px;
  letter-spacing: 2px;
}

h2 {
  font-family: "DM Serif Display";
  font-size: 3rem;
  margin-bottom: 50px;
}

h3 {
  font-family: 'DM Serif Display';
  font-size: 2.75rem;
  width: 460px;
  padding: 30px 0 30px 50px;
  letter-spacing: 1.25px;
}

h4 {
  font-family: "DM Serif Display";
}

p {
  color: gray;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

/*head section tags*/
.curve1 {
  width: 150px;
  float: left;
  position: relative;
  top: 300px
}

.curve2 {
  width: 550px;
  height: 450px;
  position: relative;
  float: right;
  z-index: 2;
}

.items {
  margin: 10px 100px;
}

.navbar-brand {
  margin-left: 130px;
}

.navitem {
  margin: 0 25px 0 5px;
  padding: 10px 0 0 0;
  text-transform: uppercase;
  font-size: 12px;
}

.button1 {
  background-color: white;
  color: hsl(256, 26%, 20%);
  border-radius: 0;
  border-color: hsl(256, 26%, 20%);
  text-decoration: none;
  font-weight: bold;
  padding: 7px 20px;
}

.button1:hover {
  background-color: hsl(256, 26%, 20%);
  color: white;
  border-color: white;
}

/* middle section tags*/
.middle {
  background-color: hsl(256, 26%, 20%);
  color: white;
}

.row {
  padding: 1% 0;
}

.rule1 {
  width: 110px;
  position: relative;
  right: 105px;
}

.middletext {
  position: relative;
  right: 25px;
  top: 75px;
}

.button2 {
  background-color: hsl(256, 26%, 20%);
  color: white;
  border-radius: 0;
  border-color: white;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 30px;
  text-transform: uppercase;
}

.button2:hover {
  background-color: white;
  color: hsl(256, 26%, 20%);
  border-color: hsl(256, 26%, 20%);
}

.image1 {
  width: 450px;
  float: right;
  position: relative;
  top: 75px;
  left: 325px;
  z-index: 1;
}

.rule2 {
  width: 110px;
  border-color: hsl(256, 26%, 20%);
  position: relative;
  right: 505px;
  top: 100px;
  padding: 50px 0;
  margin-bottom: 50px;
}

/*different section*/
.different {
  padding: 4% 11%;
}

.image2 {
  margin-bottom: 10px;
}

.icon {
  margin: 20px 0 0;
}

/*more text section*/
.moretext {
  width: 1150px;
  margin: 0 auto;
  background-color: hsl(256, 26%, 20%);
  color: white;
}

.curve3 {
  width: 316px;
  position: relative;
  left: 242px;
  z-index: 1;
}

.button3 {
  background-color: hsl(256, 26%, 20%);
  color: white;
  border-radius: 0;
  border-color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  top: 70px;
  left: 320px;
  z-index: 1;
}

.button3:hover {
  background-color: white;
  color: hsl(256, 26%, 20%);
  border-color: hsl(256, 26%, 20%);
}

.rule3 {
  width: 80%;
  border-color: #D3D3D3;
  margin: 0 auto;
  color: light-gray;
}

/*footer section*/
.footer {
  background-color: hsl(0, 0%, 98%);
  margin-top: 70px;
}

.cta {
  padding: 1% 7.5%
}

.curve4 {
  position: absolute;
}

.head {
  color: gray;
}

.attribution {
  display: none;
}
